html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: grid;
	grid: 106px calc(100vh - 162px) 56px / 1fr;
	font-family: 'Titillium Web', sans-serif;
	border: 0;
	background: rgba(143, 207, 255, 0.7);
}

a {
	text-decoration: none;
	color: black;
}

::-webkit-scrollbar
{
	display: none;
}

#header {
	display: grid;
	grid-template: auto / 30px repeat(2, minmax(350px, 1fr)) 30px;
	width: 100vw;
	max-height: 11%;
	position: fixed;
	background-color: #21587F;
	color: #fff;
	overflow: hidden;
	border-bottom: 2px solid rgba(0,0,0,.1);
}

#header p {
	grid-column: 2 / span 1;
	font-size: 30px;
	justify-self: start;
	
}

#header div {
	display: flex; 
	grid-column: 3 / span 1;
	place-self: center end;
	grid-row: 1 / span 1;
}

#header div p {
	display: inline-block;
	padding: 10px;
	border-left: 2px solid rgba(255,255,255,.5);
	margin-left: 5px;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	font-size: 24px;
}

#header div p a {
	color: #fff;
}

#header div p:hover {
	background: #48687F;
	transform: scale(1.1);
}

#mainContent {
	overflow: scroll;
	display: grid;
	grid: auto / minmax(auto, 100%);
	grid-template-areas:
    'image text';
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
	gap: 60px;
	padding: 45px;
	background: rgba(143, 207, 255, 0.7);
}

#indexImage {
	grid-area: image;
	max-height: 100%;
	max-width: 100%;
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,.1);
	place-self: center;
}

#indexParagraph {
	grid-area: text;
	place-self: center;
	background: #fff;
	padding: 30px;
	border-radius: 50px;
	border: 2px solid rgba(0,0,0,.1);
}

#indexParagraph h1 {
	font-size: 40px;
	border-bottom: 6px solid rgba(0,0,0,.1);
}

#indexParagraph p {
	font-size: 24px;
}

#indexParagraph a {
	border-radius: 100px;
	height: fit-content;
}

#indexParagraph a button {
	width: 100%;
	font-size: 50px;
	background: #fff;
	border: 2px solid rgba(0,0,0,.1);
	border-radius: 30px;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	outline: none;
	padding: 10px 0 10px 0;
}

#indexParagraph button:hover {
	cursor: pointer;
	transform: scale(1.05);
}

#footer {
	display: grid;
	grid: auto / auto;
	position: fixed;
	bottom: 0;
	width: 100vw;
	max-height: 6%;
	border-top: 2px solid rgba(0,0,0,.1);
	background-color: #21587F;
	color: #fff;
}

#footer p {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	place-self: center;
}

@media screen and (max-width: 1200px) {

	#mainContent {
		grid-template-areas:
		'image'
		'text';
	}
	
}

@media screen and (max-width: 1100px) {

	body {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	
	#mainContent {
		grid-template-areas:
		'image'
		'text';
		gap: 0;
		padding: 0;
	}
	
	#indexImage {
	width: 100%;
	max-height: 100%;
	border-radius: 0;
	border: 0;
}

#indexParagraph {
	border-radius: 0;
}
	
}