html {
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: grid;
	grid: auto auto 1fr auto / 1fr;
	grid-template-areas:
    'header'
	'nav'
	'content'
	'footer';
	font-family: 'Titillium Web', sans-serif;
	border: 0;
	background: rgba(143, 207, 255, 0.7);
}

a {
	text-decoration: none;
	color: black;
}

::-webkit-scrollbar
{
	display: none;
}

/* ----- */

#header {
	display: grid;
	grid-template: auto / repeat(2, minmax(350px, 1fr));
	grid-template-areas:
    'logo menu';
	grid-area: header;
	background-color: #21587F;
	color: #fff;
	overflow: hidden;
	border-bottom: 2px solid rgba(0,0,0,.1);
	padding: 0 30px 0 30px;
}

#header p {
	grid-area: logo;
	font-size: 30px;
	justify-self: start;
}

#menu {
	display: flex; 
	grid-area: menu;
	place-self: center end;
	max-width: 100%;
}

#header div p {
	display: inline-block;
	padding: 10px;
	border-left: 2px solid rgba(255,255,255,.5);
	margin-left: 5px;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	font-size: 24px;
}

#header div p a {
	color: #fff;
}

#header div p:hover {
	background: #48687F;
	transform: scale(1.1);
}

#navBtn {
  display: none;
  cursor: pointer;
  grid-area: nav-btn;
  place-self: center;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* ----- */

#mainContent {
	overflow: scroll;
	grid-area: content;
	display: grid;
	grid: auto / minmax(auto, 100%);
	grid-template-areas:
	'nav nav'
    'image text';
	gap: 0 60px;
	padding: 45px;
}

#nav {
	display: grid;
	grid-area: nav;
	text-align: center;
	align-items: center;
	vertical-align: center;
	background: #fff;
}

#nav a {
	font-size: 18px;
	max-width: 100%;
	border-bottom: 2px solid rgba(0,0,0,.1);
	padding: 20px;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

#nav a:hover {
	cursor: pointer;
	transform: scale(1.05);
	background: rgba(143, 207, 255, 0.7);
}

#indexImage {
	grid-area: image;
	max-height: 100%;
	max-width: 100%;
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,.1);
	place-self: center;
}

#indexParagraph {
	grid-area: text;
	place-self: center;
	background: #fff;
	padding: 30px;
	border-radius: 40px;
	border: 2px solid rgba(0,0,0,.1);
}

#indexParagraph h1 {
	font-size: 40px;
	border-bottom: 6px solid rgba(0,0,0,.1);
}

#indexParagraph p {
	font-size: 24px;
}

#indexParagraph a {
	border-radius: 20px;
	height: fit-content;

}

#indexParagraph a button {
	width: 100%;
	font-size: 50px;
	background: #fff;
	border: 2px solid rgba(0,0,0,.1);
	border-radius: 20px;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	outline: none;
	padding: 10px 0 10px 0;
}

#indexParagraph button:hover {
	cursor: pointer;
	transform: scale(1.05);
	background: rgba(143, 207, 255, 0.7);
}

/* ----- */

#footer {
	display: grid;
	grid: auto / auto;
	grid-area: footer;
	border-top: 2px solid rgba(0,0,0,.1);
	background-color: #21587F;
	color: #fff;
}

#footer p {
	place-self: center;
}

/* ----- */

@media screen and (max-width: 760px) {
	
	#mainContent {
		grid-template-areas:
		'image'
		'text';
		gap: 0;
		padding: 0;
	}
	
	#indexImage {
	border-radius: 0;
	border: 0;
	}

	#indexParagraph {
		border-radius: 0;
	}
	
	#header {
	grid-template: auto / repeat(2, minmax(100px, 1fr)) 30px;
	grid-template-areas:
    'logo logo nav-btn';
	}

	#header p {
	font-size: 24px;
	}
	
	#menu {
	display: none;
	}
	
	#navBtn {
	display: inline-block;
	}

}